<h1>Market Map</h1>

<div class="filters">
  <%= form_with url: '/listings', method: :post, local: true do |f| %>
  <%= f.label :make %>
  <%= f.select(:make, @listings.all_makes) %>
  <%= f.label :model %>
  <%= f.select(:model, @listings.all_models(@listings.all_makes[0])) %>
  <% end %>

</div>

<div class="listings">
  <h3>All listings</h3>
  <ul>
    <% @listings.listings.each do |listing| =%>
      <li><%= listing.make %></li>
    <% end %>
  </ul>

</div>
