<% if flash.any? %>
<% flash.each do |type, msg| %>
<%= msg %>
<% end %>
<% end %>

<div class="filters">
  <%= form_with url: '/', method: :get, local: true do |f| %>
    <%= fields_for :search_params do |ff| %>
      <%= ff.label :make %>
      <%= ff.select :make, Listing.all_makes, selected: session[:search_params][:make], include_blank: true%>

      <%= ff.label :model %>
      <%= ff.select :model, Listing.all_models, selected: session[:search_params][:model], include_blank: true%>

      <%= ff.label :min_year %>
      <%= ff.number_field :min_year, value: session[:search_params][:min_year]%>

      <%= ff.label :max_year %>
      <%= ff.number_field :max_year, value: session[:search_params][:max_year]%>

    <% end %>

  <%= f.submit "Search Listings" %>
  <% end %>
</div>

<div class="js_chart">
  <% if @listings.count > 0 %>
    <canvas id="myChart" width="600" height="200"></canvas>
    <script type="text/javascript">
      var listing_data = JSON.parse('<%= raw(@data.to_json) %>');
      var fair_price_data = JSON.parse('<%= raw(@fair_prices.to_json) %>');
      var title = `${listing_data[0].make} ${listing_data[0].model}`
      const ctx = document.getElementById('myChart').getContext('2d');
      const mixedChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [{
                type: 'line',
                showLine: false,
                label: 'Vehicle Listings',
                data: listing_data,
                pointBackgroundColor: 'rgba(111, 136, 158, 0.92)',
                pointBorderColor: 'rgba(96, 79, 19, 0.92)',
                pointRadius: 3,
                pointHoverRadius: 10
            }, {
                type: 'line',
                label: 'Fair Price',
                data: fair_price_data,
                borderColor: 'rgba(251, 206, 45, 0.92)',
                borderJoinStyle: 'bevel',
                borderWidth: 4,
                pointBackgroundColor: 'rgba(251, 206, 45, 0.92)',
                pointBorderColor: 'rgba(251, 206, 45, 0.92)',
                pointRadius: 0
            }]
        },
        options: {
          parsing: {
            xAxisKey: 'odometer',
            yAxisKey: 'sellingprice'
          },

          scales: {
            y: { title: { color: 'grey', display: true, text: 'Price ( $ )', font: { size: 28} } },
            x: { title: { color: 'grey', display: true, text: 'Mileage', font: { size: 28} } }
          },

          plugins: {
            title: {
              display: true,
              text: title,
              font: { size: 40}
            },
            tooltip: {
              filter: ctx.datasetIndex === 0,
              callbacks: {
                label: function(context) {
                  let data = context.dataset.data[context.dataIndex];
                  let label = [''];

                  if (data.title) {
                    label[0] = `${data.title}`;
                  }
                  if (data.sellingprice !== null) {
                    price_label = 'Price: ';
                    price_label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(data.sellingprice);
                    label.push(price_label);
                  }
                  if (data.odometer !== null) {
                    label.push(`Mileage: ${data.odometer}`);
                  }
                  if (data.condition !== null) {
                    label.push(`Condition: ${data.condition}`);
                  }
                  return label;
                }
              }
            }
          },

          onClick: function clickHandler(evt) {
            const points = mixedChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

            if (points.length) {
              // Gather data from point that is clicked
              const firstPoint = points[0];
              const data = mixedChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
              // redirect to show page with data added to query string
              location.href = `/listings/${data.id}`;
            }
          }
        }
      });
    </script>
  <% else %>
    <h1>Search Returned 0 Results</h1>
  <% end %>
</div>

<br>
<div class="">
  <%= render "shared/user_listings" %>
</div>
