<h1>Market Map</h1>

<div class="filters">
  <%= form_with url: '/listings', method: :post, local: true do |f| %>
    <%= f.label :make %>
    <%= f.select(:make, ["a","b"]) %>
    <%= f.label :model %>
    <%= f.select(:model, ["a","b"]) %>
  <% end %>

</div>

<div class="chart">
  <%= scatter_chart [[1,1],[1,2],[0,1], [3,3]], xtitle: 'Mileage', ytitle: "Price" %>
</div>
