<%= image_tag @image.url, size: '600xauto', alt: @image.title %>

<h3>Title:<%= @listing.title %></h3>

<p>Year: <%= @listing.year %></p>
<p>Make: <%= @listing.make %></p>
<p>Model: <%= @listing.model %></p>
<p>Trim: <%= @listing.trim %></p>
<p>Body: <%= @listing.body %></p>
<p>Transmission: <%= @listing.transmission %></p>
<p>Vin: <%= @listing.vin %></p>
<p>State: <%= @listing.state %></p>
<p>Condition: <%= @listing.condition %></p>
<p>Miles: <%= @listing.odometer %></p>
<p>Color: <%= @listing.color %></p>
<p>Interior Color: <%= @listing.interior %></p>
<p>Price: <%= @listing.selling_price %></p>
